{
    "presets": [
        // [
        //     "@babel/preset-env",
        //     {
        //         "useBuiltIns": "usage",
        //         "modules": "amd",
        //     }
        // ],
        ["minify", {
            "removeConsole": true
        }]
    ],
    // "plugins": [
    //     "@babel/plugin-transform-modules-amd"
    // ]
}