<div class='success_wrapper'>
    <div class='row'>
        <img src='img/jardine_logo.png' class='logo' alt='Jardine Logo'>
    </div>


    <div class='row jumbotron'>
        <div class='col-1' style="margin: auto 0">
            <span class='display-4 successIcon' style='color:green'><i class='far fa-check-circle'></i></span>
        </div>
        <div class='col-10'>
            <h1 class='text-center success'> Thank you for applying to Jardine Foundation Scholarship Awards 2020</h1>

            <h3 id='subtitle' class='text-center'>Your application has been successfully submitted.</h3>
        </div>

    </div>

</div>