<div class='row' id='form_wrapper'>
    <!-- navbar here -->
    <div class='col-md-2'>
        <nav class='navbar navbar-expand-lg'>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="nav navbar-nav nav-stacked affix flex-column">
                    <img src="img/jardine_logo.png" class="logo" alt="Jardine Logo"><br>
                    <li class="nav-item">
                        <a class="nav-link" href="#personal_info">Personal Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tertiary_education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#working_exp">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#recruitment_sources">Other Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#declaration">Declaration</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class='col-md-8' id='form'>
        <h2>
            The Jardine Executive Trainee Scheme (JETS) Application Form
        </h2>
        <hr>
        <p><span style='color:red'><i class='fas fa-asterisk'></i> Field must be filled in</span><br><br>
        </p>
        <form>
            <div class='sections' id='personal_info'>
                <div class='section_heading'>
                    <p>Personal Information <i class='fas fa-angle-right arrow'></i><i
                            class='fas fa-angle-down arrow hidden'></i>
                    </p>
                </div>

                <div class='section_body'>
                    <div class='form-group row'>
                        <label class='col-md-4' for="name">Name:<i class='fas fa-asterisk'></i></label>
                        <input type="text" class="form-control-sm col-md-3 compulsory name" id="first_name"
                            name='first_name' placeholder="First/given name">
                        <input type="text" class="form-control-sm col-md-3 compulsory name" id="family_name"
                            name='family_name' placeholder="Surname/family name">
                    </div>

                    <div class='form-group row'>
                        <label class='col-md-4' for='phone_mobile_telephone'>Contact Number:<i
                                class='fas fa-asterisk'></i></label>

                        <div class='col-md-2 no-padding name'>
                            <select style='width: 100%' class="form-control-sm col-md-3 compulsory" id="phone_mobile_country"
                                name="phone_mobile_country">
                                <option></option>
                            </select>
                        </div>

                        <input type="text" class="form-control-sm col-md-4 compulsory num" id="phone_mobile_telephone"
                            name="phone_mobile_telephone" placeholder="Number">
                        <div class='invalid_number hidden'></div>
                    </div>

                    <div class='form-group row'>
                        <label class='col-md-4' for='email'>Email:<i class='fas fa-asterisk'></i></label>
                        <input type="email" class="form-control-sm col-md-6 compulsory email_address" id="email"
                            name="email">
                        <div class='invalid_email hidden'></div>
                    </div>

                    <div class='form-group row'>
                        <label class='col-md-4' for='emailRetype'>Confirm Email Address (Retype):<i
                                class='fas fa-asterisk'></i></label>
                        <input type="email" class="form-control-sm col-md-6 compulsory email_address conf_email_address"
                            id="emailRetype" name="emailRetype">
                        <div class='invalid_email hidden'></div>
                        <div class='invalid_conf_email hidden'></div>
                    </div>

                    <div class='form-group row'>
                        <label class='compulsory col-12' for="likely_location_Nov_Dec_19">In order to assist with
                            scheduling
                            for Assessment Centres,
                            please indicate the location where you will most likely be in November and December 2019<i
                                class='fas fa-asterisk'></i> </label>
                        <div class="col-12">
                            <input class="" id="likely_location_Nov_Dec_19" type="checkbox"
                                name="likely_location_Nov_Dec_19" value="Beijing">
                            <label class="form-check-label">
                                Beijing
                            </label>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="Shanghai">
                            <label class="form-check-label">
                                Shanghai
                            </label>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="Guangzhou">
                            <label class="form-check-label">
                                Guangzhou
                            </label>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="Hong Kong">
                            <label class="form-check-label">
                                Hong Kong
                            </label>
                        </div>
                        <div class="col-12">
                            <div class="row parentWithSpecific">
                                <div class="col-md-12">
                                    <input class="hasSpecifics" type="checkbox" name="likely_location_Nov_Dec_19"
                                        value="Other parts of China">
                                    <label class="form-check-label" for="specific_of_china">
                                        Other Parts of China
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <input class='specific hidden form-control-sm' type='text' name='specific_of_china'
                                        placeholder="Please Specify">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="Vietnam">
                            <label class="form-check-label">
                                Vietnam
                            </label>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="Singapore">
                            <label class="form-check-label">
                                Singapore
                            </label>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="Indonesia">
                            <label class="form-check-label">
                                Indonesia
                            </label>
                        </div>
                        <div class="col-12">
                            <input class="" type="checkbox" name="likely_location_Nov_Dec_19" value="UK">
                            <label class="form-check-label">
                                UK
                            </label>
                        </div>
                        <div class="col-12">
                            <div class="row parentWithSpecific">
                                <div class="col-md-12">
                                    <input class="hasSpecifics" type="checkbox" name="likely_location_Nov_Dec_19"
                                        value="Other">
                                    <label class="form-check-label" for="specific_of_other_location">
                                        Other
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <input class='specific hidden form-control-sm' type='text'
                                        name="specific_of_other_location" placeholder="Please Specify">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class='sections' id='tertiary_education'>
                <div class='section_heading'>
                    <p>Education<i class='fas fa-angle-right arrow'></i><i class='fas fa-angle-down arrow hidden'></i>
                    </p>
                </div>
                <div class='section_body'>
                    <p> <span style='color:red'>Please fill in the information with your HIGHEST degree level</span></p>
                    <div id='school_info_1' class='school_info no-paddding record'>

                        <div class='form-group row'>
                            <label class='col-md-4' for='university_of_tertiary_education'>University<i
                                    class='fas fa-asterisk'></i></label>

                            <div class='col-md-5 no-padding no-margin'>
                                <div class="row parentWithSpecific">
                                    <div class='col-md-12'>
                                        <select style='width: 100%' name='university_of_tertiary_education'
                                            class='university form-control-sm hasSpecifics compulsory withOther'
                                            id='university_of_tertiary_education'>
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <input type='text'
                                            class='specific hidden form-control-sm' style="margin: 10px 0;"
                                            name="other_university_of_tertiary_education" placeholder="Please Specify">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label class='col-md-4' for='qualification_of_tertiary_education'>Degree<i
                                    class='fas fa-asterisk'></i></label>

                            <div class='col-md-5 no-padding'>
                                <select style='width: 100%' name='qualification_of_tertiary_education'
                                    id="qualification_of_tertiary_education" class='form-control-sm compulsory name'>
                                    <option></option>
                                    <option value='Bachelor'>Bachelor</option>
                                    <option value='Master'>Master</option>
                                    <option value='PhD'>PhD</option>
                                    <option value="Higher Diploma">Higher Diploma</option>
                                    <option value="Diploma">Diploma</option>
                                    <option value="Post-Grad Diploma">Post-Grad Diploma</option>
                                    <option value="Associate Degree">Associate Degree</option>
                                </select>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label class='col-md-4' for='study_field_tertiary_education'>Subject Area<i
                                    class='fas fa-asterisk'></i></label>

                            <div class='col-md-5 no-padding'>
                                <div class="row parentWithSpecific">
                                    <div class="col-md-12">
                                        <select style='width: 100%' name='study_field_tertiary_education'
                                            id='study_field_tertiary_education'
                                            class='form-control-sm hasSpecifics compulsory withOther'>
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <input type='text'
                                            class='specific hidden form-control-sm' style="margin: 10px 0;"
                                            name="other_study_field_tertiary_education" placeholder="Please Specify">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label class='col-md-4' for="major">Major<i class='fas fa-asterisk'></i></label>
                            <input type='text' class='col-md-5 form-control-sm compulsory' name="major" id="major">
                        </div>

                        <div class='form-group row'>
                            <label class='col-md-4' for="graduation_year">Graduation Year<i
                                    class='fas fa-asterisk'></i></label>
                            <div class='col-md-5 no-padding'>
                                <select style='width: 100%' name="graduation_year" id="graduation_year"
                                    class='form-control-sm compulsory'>
                                    <option></option>
                                    <option value='2015 or Before'>2015 or before </option>
                                    <option value='2016'>2016</option>
                                    <option value='2017'>2017</option>
                                    <option value='2018'>2018</option>
                                    <option value='2019'>2019</option>
                                    <option value='By September 2020'>By September 2020</option>
                                    <option value='After September 2020'>After September 2020</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class='sections' id='working_exp'>
                <div class='section_heading'>
                    <p>Work Experience<i class='fas fa-angle-right arrow'></i><i
                            class='fas fa-angle-down arrow hidden'></i>
                    </p>
                </div>
                <div class='section_body'>
                    <div class='form-group'>
                        <label for="working_exp">How many months of full-time work experience do you have?
                            Please <b>exclude</b> internship, placement or any other work experience during your period
                            of study in university.<i class='fas fa-asterisk'></i></label>
                        <div class="col-md-3 no-padding">
                            <select id="time_period" class='form-control-sm compulsory' name="time_period">
                                <option></option>
                                <option value='12 months or less'>12 months or less</option>
                                <option vlaue='13 to 24 months'>13 to 24 months</option>
                                <option value='More than 24 months'>More than 24 months</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6" for="resume">Upload your Resume: <i class="fas fa-asterisk"></i><br>
                            <span class="text-muted" style="font-weight:normal;">
                                Please prepare your resume in English </br>
                                PDF format. (4MB max)
                            </span>
                        </label>
                        <div class="col-md-3 file-select uploadBtn">
                            <button type="button" class="btn btn-sm btn-info fileinput-button">
                                <div>
                                    <i class="fa fa-plus"></i>
                                    Choose File
                                    <input type="file" name="resume" id="resume"
                                        class="form-control-sm compulsory uploadFile" accept=".pdf">
                                </div>

                                <div class="loading-dots hidden">
                                    <i>Uploading</i>
                                    <div class="loading-dots--dot"></div>
                                    <div class="loading-dots--dot"></div>
                                    <div class="loading-dots--dot"></div>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-3 hidden uploadProgress">
                            <div class="row">
                                <div class="progress col-9">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                        role="progressbar" style="width: 0%;"></div>
                                </div>
                                <div class="col-1 cancelUpload">
                                    <i class="fas fa-times-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 uploadBtn hidden">
                            <div class="row">
                                <div class="col-md-auto">
                                    <button type="button" class="btn btn-sm btn-warning undoBtn" disabled><i
                                            class="fas fa-undo-alt"></i>
                                        Undo</button>
                                </div>
                                <div class="col-md-12">
                                    <label>Status: </label>
                                    <span class="text-muted fileStatus" style="font-weight:normal;">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='sections' id='recruitment_sources'>
                <div class='section_heading'>
                    <p>Other Information<i class='fas fa-angle-right arrow'></i><i
                            class='fas fa-angle-down arrow hidden'></i>
                    </p>
                </div>
                <div class='section_body'>
                    <div class='form-group' id='src'>
                        <label class='col-md-12 compulsory' for='source' style='padding-left:0px;'>How did you hear
                            about us?<i class='fas fa-asterisk'></i>
                        </label><br><br>
                    </div>

                </div>
            </div>

            <div class="sections" id="career_information_questionnaire">
                <div class='form-group row' id='assessment_centre_question'>
                    <label class='col-md-12 compulsory' for='have_been_assessment_centre'>Have you attended our Jardine
                        Executive Trainee Scheme (JETS) Assessment Centre before?<i class='fas fa-asterisk'></i></label>
                    <div class="col-12">
                        <div class="row parentWithSpecific">
                            <div class="col-md-2">
                                <input type="radio" class="hasSpecifics" name="have_been_assessment_centre"
                                    id="have_been_assessment_centre" value="Yes">
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="col-md-2">
                                <input type="radio" class="removeInput" name="have_been_assessment_centre" value="No">
                                <label class="form-check-label">No</label>
                            </div>
                            <div class="col-md-12">
                                <input class='specific hidden form-control-sm' type='text'
                                    name='have_been_assessment_centre_year' placeholder="In Which Year?">
                            </div>
                        </div>
                    </div>
                </div>

                <div class='form-group row'>
                    <label class='col-md-12 compulsory' for='have_worked_before'>Have you worked as an intern in Jardine
                        Matheson Group or our subsidiaries?<i class='fas fa-asterisk'></i>
                    </label>
                    <div class="col-12">
                        <div class="row parentWithSpecific">
                            <div class="col-md-2">
                                <input type="radio" class="hasSpecifics" name="have_worked_before"
                                    id="have_worked_before" value="Yes">
                                <label class="form-check-label">Yes</label>
                                <!-- <label class="form-check-label">Yes</label> -->
                            </div>
                            <div class="col-md-2">
                                <input type="radio" class="removeInput" name="have_worked_before" value="No">
                                <label class="form-check-label">No</label>
                            </div>
                            <div class="col-md-12 career_specific hidden">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for='specific_of_work'>From which business unit?<i
                                                class='fas fa-asterisk'></i></label>
                                        <input class='specific form-control-sm' name='specific_of_work' placeholder="">
                                    </div>
                                    <div class='col-md-12' style='color:#CC0000;'>
                                        Please send certificate of employment and/or performance record, recommendation
                                        letter, etc to <a href="mailto:jets@jardines.com">jets@jardines.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class='form-group row'>
                    <label class='col-md-12 compulsory' for='is_jardine_scholar'>Were you a Jardine Scholar?<i
                            class='fas fa-asterisk'></i>
                    </label>
                    <div class="col-md-2">
                        <input type="radio" class="specifyInput" name="is_jardine_scholar" id="is_jardine_scholar"
                            value="Yes">
                        <label class="form-check-label">Yes</label>
                        <!-- <label class="form-check-label">Yes</label> -->
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="removeInput" name="is_jardine_scholar" value="No">
                        <label class="form-check-label">No</label>
                    </div>
                </div>
                <div class='form-group row'>
                    <label class='col-md-12 compulsory' for='accept_info_transfer'>Will you consider other job
                        openings and consent to your personal information being transferred to any companies,
                        within the Jardine Matheson Group, our subsidiaries, and associated companies?
                        <i class='fas fa-asterisk'></i></label>
                    <div class="col-md-2">
                        <input type="radio" class="specifyInput" name="accept_info_transfer" id="accept_info_transfer"
                            value="Yes"> Yes
                        <!-- <label class="form-check-label">Yes</label> -->
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="removeInput" name="accept_info_transfer" value="No">No
                    </div>
                </div>
            </div>

            <div class='sections' id='declaration'>
                <div class='section_heading'>
                    <p>Declaration<i class='fas fa-angle-right arrow'></i><i class='fas fa-angle-down arrow hidden'></i>
                    </p>
                </div>
                <div class='section_body'>
                    <div class='form-group row'>
                        <label class='col-md-12 compulsory' for='accept_declaration'>I declare that this information is
                            true. If after the engagement, it is found that any answer I have made is false, I
                            acknowledge that the Company reserves the right to terminate my service immediately.<i
                                class='fas fa-asterisk'></i></label>
                        <div class="col-md-2">
                            <input type="radio" class="specifyInput" id="accept_declaration" name="accept_declaration"
                                value="Yes">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="col-md-2">
                            <input type="radio" class="removeInput" name="accept_declaration" value="No">
                            <label class="form-check-label">No</label>
                        </div>
                    </div><br><br>



                </div>
            </div>

            <div class="text-center">
                <button type='button' id='validate_button' class="btn btn-primary">Preview</button>
            </div>

        </form>
    </div>
</div>