<div id="sessionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">One more step before access</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="col-md-10 col-md-offset-1">
                <h4 class="">If you have chosen email authentication, an token link has been sent to your email, click the token link to authenticate.</h4>
                <h4 class="">After that, tap the following button to get access.</h4>
                <div class="btn btn-success " onclick="location.reload();">Get access</div>

                <h4>If you think it was a mistake and want to back to the login page.</h4>
                <a class="btn btn-danger back_to_login">Back to login</a>
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>

    </div>
</div>