{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage", //for polyfilling
                "modules": "amd",
            }
        ],
        // ["minify", {
        //     "removeConsole": true
        // }]
    ],
    // "plugins": [
    //     "@babel/plugin-transform-modules-amd"
    // ]
}