<div class='row'>
    <div class='col-md-8'>
        <img src='img/jardine_logo.png' class='logo_preview' alt='Jardine Logo'><br><br>
        <h4 style='color: #31708F'>Form Preview</h4><br><br>
        <h2 id='applicant_name' style="border: 0;"></h2><br>
    </div>
    <div class='col-md-4' style="margin: auto;">
        <img id="uploadedPhoto" width="70%" alt="Image Preview">
    </div>
</div>
<div class='row' id='section_1'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Personal Information</h4>
        </div>
        <div class='body row'>
            <div class='col-md-6'>
                <table class='table table-striped  table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column'>Title</td>
                            <td class='second_column' id='title_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>First Name:</td>
                            <td class='second_column' id='first_name_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Family Name:</td>
                            <td class='second_column' id='family_name_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Preferred Name:</td>
                            <td class='second_column' id='preferred_first_name_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Place Of Birth:</td>
                            <td class='second_column' id='country_of_origin_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Date Of Birth:</td>
                            <td class='second_column' id='date_of_birth_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Nationality:</td>
                            <td class='second_column' id='nationality_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Second Nationality:</td>
                            <td class='second_column' id='second_nationality_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Gender:</td>
                            <td class='second_column' id='gender_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Email:</td>
                            <td class='second_column' id='email_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Alternate email:</td>
                            <td class='second_column' id='alt_email_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='col-md-6'>
                <table class='table table-striped  table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column'>Current Country of Residence :</td>
                            <td class='second_column' id='current_residential_address_country_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Present Location:</td>
                            <td class='second_column' id='present_location_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Area of Permanent Residence:</td>
                            <td class='second_column' id='area_of_perm_residence_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Phone Number(home):</td>
                            <td class='second_column' id='home_number_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Phone Number(mobile):</td>
                            <td class='second_column' id='mobile_number_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>How long have you been living here:</td>
                            <td class='second_column' id='duration_of_stay_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Correspondence address with postal code:</td>
                            <td class='second_column' id='current_residential_address_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br><br>

<div class='row' id='section_2'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Course Of Study</h4>
        </div>
        <div class='body row'>
            <div class='col-md-6'>
                <table class='table table-striped  table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column'>University Applied</td>
                            <td class='second_column' id='preferred_university_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>College Applied:</td>
                            <td class='second_column' id='preferred_college_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Proposed Subject of Study:</td>
                            <td class='second_column' id='proposed_subject_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div><br><br>
<div class='row' id='section_3'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Details of Education</h4>
        </div>
        <div class='body row'>
            <div class='col-md-6'>
                <table class='table table-striped  table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column'>Present College</td>
                            <td class='second_column' id='current_school_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Duration From:</td>
                            <td class='second_column' id='duration_from_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Duration To:</td>
                            <td class='second_column' id='duration_to_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Grade Status:</td>
                            <td class='second_column' id='status_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' id='type_preview'></td>
                            <td class='second_column' id='grades_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='col-md-6'>
                <table class='table table-striped table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column'>Other Qualification Type:</td>
                            <td class='second_column' id='other_qualifications_type_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>Other Qualification(grades):</td>
                            <td class='second_column' id='other_qualifications_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>IELTS:</td>
                            <td class='second_column' id='ielts_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column'>TOEFL:</td>
                            <td class='second_column' id='toefl_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br><br>

<div class='row' id='section_4'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Community / Leadership Experience</h4>
        </div>
        <div class='body row' id='activities_preview'>

        </div>
    </div>
</div><br><br>

<div class='row' id='section_5'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Personal Statement</h4>
        </div>
        <div class='body row'>
            <div class='col-md-12'>
                <table class='table table-striped table-sm'>
                    <tbody>
                        <tr>
                            <td class='second_column' id='statement_content_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br><br>

<div class='row' id='section_6'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Others</h4>
        </div>
        <div class='body row'>
            <div class='col-md-12'>
                <table class='table table-striped table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column' style='width: 500px'>Have you received the invitation from
                                Cambridge or Oxford University for interviews?</td>
                            <td class='second_column' id='interview_invitation_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width: 500px'>How did you learn about this scholarship?
                            </td>
                            <td class='second_column' id='source_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width: 500px'>Have you applied or do you intent to apply for
                                any other scholarships?
                            </td>
                            <td class='second_column' id='other_scholarship_plan_preview'></td>
                        </tr>
                        <tr id='other_scholarship_preview' style='display:none;'>
                            <td class='first_column' style='width: 500px'>Name and Type of scholarship applied:
                            </td>
                            <td class='second_column' id='scholarship_preview'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br><br>

<div class='row' id='section_7'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>School principals / referee details</h4>
        </div>
        <div class='body row'>
            <div class='col-md-12'>
                <table class='table table-striped table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column' style='width:500px'>Full title and name of referee</td>
                            <td class='second_column' id='referee_name_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Post / occupation / relationship</td>
                            <td class='second_column' id='referee_relationship_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Telephone number</td>
                            <td class='second_column' id='referee_telephone_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Email:</td>
                            <td class='second_column' id='referee_email_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Request reference letter from referee:
                            </td>
                            <td class='second_column' id='request_reference_preview'></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br><br>


<div class='row' id='section_8'>
    <div class='col-md-12'>
        <div class='heading'>
            <h4>Uploaded Files</h4>
        </div>
        <div class='body row'>
            <div class='col-md-12'>
                <table class='table table-striped table-sm'>
                    <tbody>
                        <tr>
                            <td class='first_column' style='width:500px'>Photo</td>
                            <td class='second_column' id='photo_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>UCAS Form</td>
                            <td class='second_column' id='ucas_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Achieved Academic Results</td>
                            <td class='second_column' id='academic_results_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Predicted Academic Results</td>
                            <td class='second_column' id='predicted_academic_results_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Reference Letter
                            </td>
                            <td class='second_column' id='reference_letter_preview'></td>
                        </tr>
                        <tr>
                            <td class='first_column' style='width:500px'>Others

                            </td>
                            <td class='second_column' id='others_doc_preview'></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br><br>



<div class='buttons row'>
    <button class='btn btn-sm preview_button' id='print_button'><i class='fa fa-print'></i> Print</button>
    <button class='btn btn-sm preview_button' id='back_button'>Back</button>
    <button type='button' class='btn btn-sm preview_button' id='next_button' data-toggle="modal"
        data-target="#confirmation">Next</button>

</div>

<div class='modal' id='confirmation'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>Important Note:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class='modal-body'>
                Please be advised that you will receive an acknowledgement email if your submission is successful. If
                you do not receive it, please inform us at <a
                    href="mailto:jardine.foundation@jardines.com">jardine.foundation@jardines.com</a> immedidately.
                Thank you.
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn preview_button" id='submit_button'>Submit</button>
            </div>
        </div>
    </div>
</div>