*:focus {
    outline-width: thin;
}

#add_button,
.addItem {
    margin-left: 45%;
    margin-top: 2%;
    background-color: #428BCA
}

.alert {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 999;
    color: #CC0000 !important;
    min-width: 20%;
    display: none;
}

#errorMsg {
    padding-top: 15px;
    padding-bottom: 10px;
}

#errorMsg hr {
    margin-top: 0;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

.name {
    margin-left: 5px;
}

.email_address:focus,
.num:focus {
    outline: none;
}

.arrow {
    float: right;
}

.buttons {
    margin-left: 40%;
}

body {
    font-size: 14px;
}

#body {
    min-height: 90vh
}

#count {
    margin-top: 0px;
    font-size: 9px;
    color: white;
    text-align: center;
    margin-left: 50%;
    border-radius: 0px;
    padding-left: 1px;
    padding-right: 1px
}

#date_of_birth {
    background-color: #E9ECEF;
    border: 1px solid #aaa;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 120px;
    float: left;
}


.calicon {
    border: 1px solid #aaa;
    border-left: 0px;
    background-color: #E9ECEF;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 40px;
    display: inline-block;
    height: 100%;
    padding-top: 4px;
    padding-left: 12px;
}

.calLabel {
    float: left;
    border: 1px solid #aaa;
    border-right: 0px;
    background-color: #E9ECEF;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 50px;
    height: 100%;
    padding-top: 4px;
    padding-left: 7px;
}

.datepicker-dropdown {
    font-size: 12px;
}

#delete_1 {
    display: none;
}

.fa-asterisk {
    font-size: 9px;
    vertical-align: top;
    color: red;
}

.input-group-append,
.input-group-prepend {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.input-group-append>.input-group-text {
    border-left: 0.5px solid lightgray;
    font-size: 80% !important;
    padding-left: 12px !important;
    border: 1px solid #aaa;
}

.input-group-prepend>.input-group-text {
    border-right: 0.5px solid lightgray;
    font-size: 80% !important;
    padding-left: 3px !important;
    border: 1px solid #aaa;
}

[class*=form-control] {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.from,
.to {
    float: left;
    border-radius: 0px;
    background-color: #E9ECEF;
    width: 92px;
}

.first_column {
    font-weight: bold;
    width: 200px;
    word-wrap: break-word;
    font-size: 12px;
}

.second_column {
    padding-left: 30px;
    font-size: 12px;
}

#form {
    margin-left: 100px;
}

.grades {
    width: 100%;
}

#grades {
    margin-left: 20px;
}

html {
    scroll-behavior: smooth;
    min-width: 100vw;
}

h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    ;
    border-bottom: solid 1px #eee;
    /*color: #115798;*/
    color: #BB132F;
    font-family: Arial, Helvetica, sans-serif;
}

#landing_page {
    margin-top: 5%;
}

#landing_page .btn {
    background-color: #428BCA
}

@media screen and (min-width: 577px) {
    .jumbotron {
        width: 80%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.logo {
    margin-left: 0px;
    padding-left: 20px;
    height: 108px;
    width: 200px;
}

div.header img {
    padding-left: 0px;
}

.logo_preview {
    height: 75px;
}

label {
    font-weight: bold;
    margin-top: 1.5px;
    margin-left: 0px;
}

div.uploadProgress .row {
    margin: 0;
}

.preview_button {
    background-color: white;
    border: 0.5px solid lightgray;
    margin: 5px;
}

#nationality2 {
    display: none;
    padding: 0px !important;
}

#select2-second_nationality-container {
    width: 100%;
}

.select2-results__option {
    font-size: 12px !important
}

#statement_content:focus {
    outline: none;
}

.modal-footer button {
    margin-right: 2px !important;
}

#submit_button,
#next_button {
    background-color: #428BCA;
    color: white;
}

div.success_wrapper div.row img {
    margin: 30px 15px;
}

.modal-title {
    color: #BB132F
}

.navbar-toggler {
    border: 0.5px solid lightgray;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 80%;
}

.navbar-toggler_container {
    padding-right: 0px;
}

#navbar_container {
    display: none;
}

.navbar {
    width: 100%;
    font-size: 14px !important;
    position: fixed;
    padding: 12px;
    padding-top: 0px;
}

.navbar_logo {
    height: 41px;
    width: 76px;
}

.navbar_logo_container {
    margin: 0px;
    top: 0px;
}

.nav {
    width: 220px;
    word-break: wrap;
}

.nav-link {
    padding-left: 7px;
    color: #999999;
}

p:not(div.section_heading p) {
    text-align: justify
}

.nav-item:hover {
    border-left: 2px solid #115798;
}

.nav-link.active {
    color: #115798;
    border-left: 2px solid #115798;
}

.nav-item {
    margin-left: 12px;
    width: 100%;
}

.no-padding {
    padding: 0px;
}

.full-width {
    width: 100% !important;
}

.incomplete_link:hover {
    border-left: 2px solid #CC0000 !important;
}

.nav-link:hover {
    border-left: 2px solid #115798;
}

.incomplete_link.active {
    border-left: 2px solid #CC0000 !important;
}

.nav-link.active {
    color: #115798;
    border-left: 2px solid #115798;
}

#preview {
    background-color: whitesmoke;
    padding: 20px;
}

.sections {
    margin-bottom: 35px;
}

.section_heading {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #115798;
    width: 100%
}

.section_body {
    padding: 10px;
    width: 100%
}

.section_heading p {
    font-size: 21px;
    margin-bottom: 0;
}

.select2-selection__rendered {
    height: 31px;
    height: 100%;
}

#subtitle {
    font-weight: lighter;
    color: grey;
    font-style: italic;
}

.success-wrapper {
    margin-top: 5%;
    padding: 5%;
}

#validate_button {
    background-color: #428BCA !important;
    margin-left: 45%;
    margin-top: 2%;
    color: white;
}

.far-fa-circle {
    color: green;
}

.heading {
    color: #115798;
    border-bottom: 2px solid #115798;
}

.hidden {
    display: none;
}

#form_wrapper {
    padding: 80px;
}

@media screen and (min-width: 991px) {
    #nav_contain {
        display: none;
    }
    .nav {
        margin-top: -40px;
    }
}

@media screen and (min-width: 1024px) {
    .date {
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    .date:nth-of-type(2) {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

#statement_content_preview {
    white-space: pre-wrap;
}

.fa-calendar-alt {
    font-size: 12px;
}

@media screen and (max-width: 991px) {
    nav.navbar .logo {
        display: none;
    }
    #form {
        margin-left: 0px;
        margin-top: 60px !important;
        padding-top: 40px !important;
        width: 100%;
    }
    #form_wrapper {
        width: 100%;
        padding: 5px;
        padding-top: 0px;
    }
    .section_body {
        width: 100%;
    }
    .topnav {
        display: block;
        width: 100vw !important;
    }
    .topnav-header {
        width: 100vw !important;
    }
    .name {
        margin-bottom: 5px;
    }
    .navbar {
        border-bottom: 0.5px solid lightgray;
        position: fixed;
        width: 100vw;
        z-index: 999;
        background-color: white;
        margin-left: -14px;
        padding-top: 6px;
    }
}

@media only screen and (max-width: 576px) {
    h1,
    h2 {
        font-size: 30px;
    }
    h4,
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    .logo {
        height: 70px;
        width: 140px;
    }
    div.alert {
        right: 10%;
        left: 10%;
    }
    .successIcon {
        font-size: 40px
    }
    h1.success {
        font-size: 24px
    }
}

@media screen and (max-width: 768px) {
    .scholarship input {
        margin-bottom: 15px;
    }
    .scholarship input {
        margin-bottom: 15px;
    }
    #form {
        margin-left: 0px;
        margin-top: 60px;
        width: 100%;
    }
    #form_wrapper {
        width: 100%;
        padding: 5px;
        padding-top: 0px;
    }
    .section_body {
        width: 100%;
    }
    input.form-control-sm:not(.from):not(.to) {
        margin-left: 10px;
    }
    .select2-container {
        margin-left: 10px;
    }
    .select2-dropdown {
        margin-left: -10px;
    }
    #current_residential_address {
        margin-left: 8px;
    }
    .input-group {
        margin-left: 10px
    }
    .input-group-append,
    .input-group-prepend {
        width: 100%;
        margin: 0px;
        padding: 0px;
        align-content: center
    }
    .buttons {
        margin-left: 23%;
    }
    .navbar {
        border-bottom: 0.5px solid lightgray;
        position: fixed;
        margin-bottom: 40px;
        width: 100vw;
        z-index: 999;
        background-color: white;
        margin-left: -14px;
    }
}

.file-select {
    margin-bottom: 20px;
}

.form-check-label {
    font-weight: normal;
    margin: initial
}

.specifyInputBoxDiv {
    margin: 10px 10px;
}

div.specifyInputBoxDiv span.select2-container {
    width: 100% !important;
}

ol li label {
    font-weight: normal;
}

ol .col-md-1 {
    padding-right: 0;
}

div.specifyInputBoxDiv ol li {
    margin: 10px;
}

div.specifyInputBoxDiv ol {
    padding: 0;
}

p.note {
    margin: 0px;
}

.removeFile {
    color: red
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

span.select2-selection {
    height: calc(1.8125rem + 2px) !important;
    border: 0.5px solid lightgrey;
}

.incomplete-label {
    color: #CC0000;
}

.incomplete-input {
    border-color: #CC0000 !important;
}

div.form-check-inline[class*='col'] {
    padding-left: 15px;
    margin: 0;
}

@keyframes dot-keyframes {
    0% {
        opacity: .4;
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: .4;
        transform: scale(1, 1);
    }
}

.loading-dots {
    text-align: center;
    width: 100%;
}

.loading-dots--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    height: 4px;
    width: 4px;
}

.loading-dots--dot:nth-child(2) {
    animation-delay: .5s;
}

.loading-dots--dot:nth-child(3) {
    animation-delay: 1s;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.fadeIn {
    -webkit-animation: fadein 0.6s;
    /* Safari and Chrome */
    -moz-animation: fadein 0.6s;
    /* Firefox */
    -ms-animation: fadein 0.6s;
    /* Internet Explorer */
    -o-animation: fadein 0.6s;
    /* Opera */
    animation: fadein 0.6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari and Chrome */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.progress[class*="col"] {
    padding: 0;
    margin-top: 7px;
    height: 17px;
}

div.uploadProgress div.cancelUpload {
    padding-right: 0;
    margin-top: 5px;
    color: #BB132F;
}