<div class="row">

    <div class="container-fluid" id='landing_page'>
        <div class="header">
            <img src='img/jardine_logo.png' class='first_logo' alt='Jardine Logo'>
        </div>
        <div id="broswer-compatibility" class="hidden" style="display: none;">
            <div class="alert alert-danger broswer-alert" role="alert">
                <span class="bold">Importance: Browser Compatibility Issues </span> <br>
                <span>Your Internet Broswer is not supported for this application.</span><br><br>
                <span>Recommended Broswer:</span><br>
                <span>Internet Explorer 8 to 11, Chrome, Firefox and Safari.</span>
            </div>
        </div><br>
        <Br>
        <div class="panel-body">
            <div>
                <h2 class="anchor legend" id="data_privacy_notice">Data Privacy Notice</h2>
                <p>
                    Please note that you may be providing and may from time to time provide Jardine Matheson Limited and various of its affiliates, including Matheson &amp; Co Limited ("we", or "us", or "our") with certain information relating to yourself. In proceeding
                    further with this application, you are acknowledge that we will collect, use, transfer and retain your personal data for the purposes of and in the manner set out in our <a href="https://www.jardines.com/en/global/privacy.html">Privacy Notice</a>.
                    If you refuse or are otherwise unable to supply your personal data as requested by us, we may be unable to properly administer your application where use of your personal data is required.
                </p>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary" id="applyNow">Apply now</button>
            
        </div>
    </div>
</div>
