html {
    scroll-behavior: smooth;
}

*:focus {
    outline-width: thin;
}

.select2-selection,
select:focus {
    outline: none;
}

#applicant_name {
    color: #CC0000
}

.alert-danger {
    color: #CC0000 !important;
}

input[name="source"] + label, input[name*="specific"] + label{
    margin-left: 10px
}

.alert {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 999;
    min-width: 20%;
    display: none;
}

.buttons {
    margin-left: 40%;
}

.preview_button {
    background-color: white;
    border: 0.5px solid lightgray;
    margin: 5px;
}

#submit_button,
#next_button {
    background-color: #428BCA;
    color: white;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.heading {
    color: #115798;
    border-bottom: 2px solid #115798;
}

.first_column {
    font-weight: bold;
    width: 200px;
    word-wrap: break-word;
    font-size: 12px;
}

.second_column {
    padding-left: 30px;
    font-size: 12px;
    white-space: pre-wrap;
}
.career_specific {
    padding: 3px 50px;
}

div.form-group.parentWithSpecific {
    margin-bottom: 0;
}

.specific {
    margin: 5px 10px;
}

#errorMsg {
    padding-top: 15px;
    padding-bottom: 10px;
}

#errorMsg hr {
    margin-top: 0;
}

.modal-header {
    color: #CC0000
}

.navbar-toggler {
    border: 0.5px solid lightgray;
    margin-left: 2% !important;
}

.navbar {
    width: 100%;
    font-size: 14px !important;
    position: fixed;
    padding: 12px;
}

.nav-link {
    padding-left: 7px;
    color: #999999;
}

.nav-item:hover {
    border-left: 2px solid #115798;
}

.nav-link.active {
    color: #115798;
    border-left: 2px solid #115798;
}

.nav-item {
    margin-left: 12px;
    width: 100%;
}

#applyNow,
#add_work_button,
#add_button {
    background-color: #428BCA
}

#delete_1 {
    display: none;
}

body {
    position: relative;
    font-size: 14px;
}

#body {
    min-height: 90vh;
    min-width: 100%;
    padding: 40px;
}

#preview {
    background-color: whitesmoke;
}

.graduation_year {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #E9ECEF;
}

#landing_page {
    margin-top: 5%;
    margin:10%;
    overflow: hidden;
}

.logo {
    margin-left: 0px;
    padding-left: 0px;
    height: 81px;
    width: 150px;
}

.success_logo,
.first_logo {
    margin-left: 0px;
    padding-left: 0px;
    height: 130px;
    width: 241px;
}

.logo_preview {
    height: 75px;
}

#form {
    margin-left: 70px;
}

.form-check-label {
    font-weight: normal;
    margin: initial
}

.fa-asterisk {
    color: red;
    vertical-align: top;
    font-size: 9px;
}

.fa-angle-right,
.fa-angle-down {
    float: right;
}

input,
select {
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
}

.from,
.to {
    width: 100%;
    margin: 0px;
    border-radius: 0px !important;
    color: inherit;
    background: #E9ECEF;
}

.input-group-append,
.input-group-prepend {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.incomplete_link:hover {
    border-left: 2px solid #CC0000 !important;
}

.incomplete_link.active {
    border-left: 2px solid #CC0000 !important;
}

.incomplete-label {
    color: #CC0000;
}

.incomplete-input {
    border-color: #CC0000 !important;
}

h2 {
    color: #115798;
}

h5 {
    color: #337AB7
}

.sections {
    margin-bottom: 35px;
}

.section_heading {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #115798;
    width: 100%
}

.section_body {
    padding: 10px;
    width: 100%
}

.name {
    margin-right: 3px;
}

.form-control-sm {
    border: 0.5px solid lightgrey;
}

.section_heading p {
    font-size: 21px;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.no-padding {
    padding: 0px;
}

label {
    font-weight: bold;
    margin-top: 1.5px;
    margin-left: 0px;
}

.form-check {
    margin: 4px;
}

.form-check-inline {
    margin-left: 4%;
}

#nationality2 {
    display: none;
    padding: 0px !important;
}

.select2-results__option {
    font-size: 12px !important
}

.select2-selection__rendered {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select2-selection {
    height: 31px !important;
    height: 100% !important;
}

p {
    text-align: justify;
}

#validate_button {
    background-color: #428BCA !important;
    color: white;
}

span.select2-selection {
    height: calc(1.8125rem + 2px) !important;
    border: 0.5px solid lightgrey;
}

@media screen and (max-width:768px) {
    .logo {
        display: none
    }
    #form_wrapper,
    #body {
        padding: 0px !important;
    }
    .navbar {
        border-bottom: 0.5px solid lightgray;
        position: fixed;
        margin-bottom: 40px;
        width: 100vw;
        z-index: 999;
        background-color: white;
        margin-left: -14px;
    }
    .nav-link {
        padding-left: 7px
    }
    .select2-container {
        margin-left: 10px;
    }
    .select2-dropdown {
        margin-left: -10px;
    }
    #form {
        padding: 50px !important;
        margin-left: 0px;
        margin-top: 20px;
    }
    #body {
        padding: 0px;
    }
    .input-group,
    input,
    select {
        margin-left: 10px;
    }

    .name {
        margin-bottom: 5px;
    }
    .buttons {
        margin-left: 27%;
    }
}

@media only screen and (max-width: 576px){
    .success_logo,
    .first_logo {
        height: 70px;
        width: 140px;
    }
}


@media screen and (max-width: 991px) and (min-width: 768px) {
    #form {
        margin-left: 0px;
        margin-top: 60px;
    }
    .logo {
        display: none
    }
    #form_wrapper {
        width: 100%;
        padding: 5px;
        padding-top: 0px;
    }
    .section_body {
        width: 100%;
    }
    .topnav {
        display: block;
        width: 100vw !important;
    }
    .topnav-header {
        width: 100vw !important;
    }
    .name {
        margin-bottom: 5px;
    }
    .navbar {
        border-bottom: 0.5px solid lightgray;
        position: fixed;
        margin-bottom: 40px;
        width: 100vw;
        top: 0px;
        background-color: white;
        z-index: 999
    }
    .nav-link {
        padding-left: 7px !important;
    }
    #body,
    .form_wrapper,
    .form_page {
        padding: 0px !important;
    }
}

div.uploadProgress .row {
    margin: 0;
}

div.progress[class*="col"] {
    padding: 0;
    margin-top: 7px;
    height: 17px;
}

div.uploadProgress div.cancelUpload {
    margin-top: 5px;
    color: #BB132F;
}

@keyframes dot-keyframes {
    0% {
        opacity: .4;
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: .4;
        transform: scale(1, 1);
    }
}

.loading-dots {
    text-align: center;
    width: 100%;
}

.loading-dots--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    height: 4px;
    width: 4px;
}

.loading-dots--dot:nth-child(2) {
    animation-delay: .5s;
}

.loading-dots--dot:nth-child(3) {
    animation-delay: 1s;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.fadeIn {
    -webkit-animation: fadein 0.6s;
    /* Safari and Chrome */
    -moz-animation: fadein 0.6s;
    /* Firefox */
    -ms-animation: fadein 0.6s;
    /* Internet Explorer */
    -o-animation: fadein 0.6s;
    /* Opera */
    animation: fadein 0.6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari and Chrome */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#time_period{
    margin-left: 0px;
    margin-bottom: 10px;
}

.specifyInputBoxDiv {
    margin: 10px;
}

.select2-search__field{
    margin-left: 0px;
}
