<div class='row'>
    <img src='img/jardine_logo.png' class='logo' alt='Jardine Logo'>
</div>


<div class='row jumbotron'>
    <div class='col-12'>
        <h1 class='success' style="border: 0;"><i class="fas fa-exclamation-circle"></i>URL has been expired.</h1>

        <h3 style="font-weight: 300" class='text-center'><i>Please contact Jardines Foundation at <a
            href="mailto:jardine.foundation@jardines.com"
            target="_blank">jardine.foundation@jardines.com</a></i></h3>
    </div>
</div>