<div class='row'>
    <img src='img/jardine_logo.png' class='logo' alt='Jardine Logo'>
</div>


<div class='row jumbotron'>
    <div class='col-1' style="margin: auto 0">
        <span class='display-4 successIcon'><i class='far fa-check-circle'></i></span>
    </div>
    <div class='col-10'>
        <h1 class='success' style="border: 0;"> Thank you for your submission!</h1>

        <h3 id='subtitle' class='text-center'><i>Your reference has been successfully submitted.</i></h3>
    </div>
</div>